@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --blue1: #71c7ec;
  --blue2: #1ebbd7;
  --blue3: #189ad3;
  --blue4: #107dac;
  --blue5: #005073;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 50%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* start Here */
section .main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* border-bottom: 2px solid var(--blue3); */
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text > * {
  margin-bottom: 1rem;
}

.intro-text p:nth-child(1) {
  font-weight: 600;
}

.intro-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--blue5);
}

.intro-text h1 span.typed-word {
  font-weight: 400;
  color: var(--blue3);
  text-shadow: 0 0 5px var(--blue2);
}

.cursor {
  display: inline-block;
  background-color: var(--blue3);
  width: 2px;
  animation: blink 1s infinite;
 }

 .cursor.typed {
   animation: none;
 }

 @keyframes blink {
    0% { 
      background: var(--blue2); 
    }
    49% { 
      background: var(--blue2); 
    }
    50% { 
      background: transparent; 
    }
    99% { 
      background: transparent; 
    }
    100% { 
      background-color: var(--blue2); 
    }
 }

 span {
   margin: 1rem 0;
 }

 .btn { 
   font-size: 1.4rem;
   text-decoration: none;
   border-radius: 50px;
   padding: 8px 1rem;
   background-color: var(--blue2);
   color: #fff;
   text-shadow: 0 0 8px #fff;
   transition: all 2s;
 }

 .btn:hover {
   background-color: var(--blue5);
 }

 .intro-img {
   text-align: center;
 }

 .intro-img img { 
   width: 70%;
 }