@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

:root {
  --color-black: #000;
  --color1: #71ffdb;
  --color2: #dcff71;
  --color3: #E41376;
  --color4: #9471ff;
  --color-white:#eee;
  --gray: #d1cfcf;
  --light: #01C8EE
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;  
  background: rgb(171,248,231);
  background: linear-gradient(119deg, rgba(171,248,231,1) 15%, rgba(135,120,199,1) 96%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

section.main { 
  width: 100%;
  height: 100vh;
  text-align: center;
}

header {
  color: var(--color-white);
}

header h1 {
  font-family: 'Petit Formal Script', cursive;
  font-weight: 700;
  font-size: 5rem;
  color: var(--color4);
  text-shadow: 3px 0 3px var(--color3);
}

header p {
  font-size: 2.5rem;
  position: relative;
  /* text-shadow: -1px 0 0 #fff, -1px -1px 0 #fff; */
  color: transparent;
}

header p::before {
  content: "Coloque el cursor sobre la techa para obtener mas información.";
  text-align: center;
  color: var(--color2);
  text-shadow: none;
  position: absolute;
  top: 0;
  left: auto;
  width: 0px;
  overflow: hidden;
  border-right: 5px solid var(--color2);
  white-space: nowrap;
  animation: move 10s linear both;
}

@keyframes move {
  to {
    width: 1150px;
    /* width: auto; */
  }
}

.key-pressed {
  position: relative;
  color: var(--color1);
  text-shadow: 0 0 25px var(--color4);
  font-size: 12rem;
}

.keys {
  width: 100%;
  height: 35rem;
  max-width: 88rem;
  position: relative;
  margin: 4rem auto;
}

.key {
  position: relative;
  border: 2px solid var(--color-black);
  box-shadow: 0 0 10px var(--color-black);
  border-radius: 5px;
  transition: all .07s ease;
  z-index: 2;
  border-radius: 0  0 10px 10px;
}

.other {
  position: absolute;
  top: -10%;
  left: -15%;
  width: 130%;
  height: 103%;
  background-color: var(--color3);
  border-radius: 5rem;
  box-shadow: 0 0 10px var(--color3);
  border: 1px solid #ff0077;
  /* z-index: 0; */
}

.key:not(.sharp)  {
    float: left;
    width: 10%;
    height: 85%;
    background-color: #fff;
    color: #000;
    text-shadow:
    0 0 7px #000,
    0 0 10px #000,
    0 0 21px #000,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.key.sharp {
  position: absolute;
  top: 0;
  width: 6%;
  height: 60%;
  background-color: var(--color-black);
  color: var(--gray);
  color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  z-index: 3;
}

.line::before {
  content: " ";
  display: flex;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
}

.key[data-key="87"] {
  left: 7%;
}
.key[data-key="69"] {
  left: 17%;
}
.key[data-key="84"] {
  left: 37%;
}
.key[data-key="89"] {
  left: 47%;
}
.key[data-key="85"] {
  left: 57%;
}
.key[data-key="79"] {
  left: 77%;
}
.key[data-key="80"] {
  left: 87%;
}


.playing {
  transform: scale(0.95);
  transform-origin: top;
  box-shadow: 4px 45px 108px 2px var(--light);
  -webkit-box-shadow: 4px 45px 108px 2px var(--light);
  -moz-box-shadow: 4px 45px 108px 2px var(--light);
  color: var(--light);
}

.hints {
  display: block;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7px;
  transition: all .3s ease;
  font-size: 2rem;
}

.keys:hover .hints {
  opacity: 1 ;
}

@media(max-width: 1200px) {
  header p {
    font-size: 2rem;
  }

  @keyframes move {
    to {
      width: 920px;
      /* width: auto; */
    }
  }

  .key-pressed {
    font-size: 10rem;
  }

  .container {
    max-width: 800px;
    padding: 0 10px;
  }
}

@media(max-width: 1050px) {

  header h1 {
    font-size: 4rem;
  }

  header p {
    font-size: 1.5rem;
  }

  @keyframes move {
    to {
      width: 680px;
    }
  }

  .key-pressed {
    font-size: 8rem;
  }

  .container {
    max-width: 600px;
    padding: 0px;
  }

  .keys {
    width: 100%;
    height: 28rem;
  }

  .key.sharp {
    height: 50%;
  }

  .hints {
    font-size: 1.5rem;
  }
}
