@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gluten&family=Karla&display=swap');

:root {
  --color1: #F26627;
  --color2: #F9A26C;
  --color3: #EFEEEE;
  --color4: #9BD7D1;
  --color5: #325D79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  font-family: 'Karla', sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url(images/tacos.jpg) center no-repeat;
  background-size: cover;
}

.logo {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 20px;
  left: 50px;
}

.logo img {
  width: 100%;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.line {
  width: inherit;
  height: 5px;
  background-color: var(--color3);
  border-radius: 25px;
  transform-origin: right;
}

.line-2 {
  height: 3px;
}

.line-1 {
  transform: rotateZ(-45deg);
}

.line-2 {
  transform: translate(5px, 20px);
}

.line-3 {
  transform: rotateZ(45deg);
}


.btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.banner-btn {
  width: 350px;
  height: 100px;
  background: linear-gradient(var(--color4), var(--color5));
  border: none;
  outline: none;
  font-family: 'Courgette', cursive;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color3);
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(50deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.banner-btn:hover {
  transform: rotateX(30deg) rotateZ(0);
}

.banner-btn::before {
  content: '';
  width: 100%;
  height: 15px;
  background-color: var(--color5);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.banner-btn::after {
  content: '';
  width: 15px;
  height: 100%;
  background-color: var(--color4);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.top-nav {
  height: 15vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/nav.jpg) no-repeat 50% 0;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 50;
}

.nav-list {
  list-style: none;
  width: 80%;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li {
  perspective: 500px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Gluten', cursive;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color3);
  background-color: var(--color1);
  letter-spacing: 1px;
  padding: 5px 10px;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform .3s;
}

.nav-link:hover {
  transform: rotateX(90deg);
}

.nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: var(--color1);
  padding: inherit;
  color: var(--color5);
  transform: rotateX(-90deg);
  transform-origin: top;
}
.bottom-nav {
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/nav.jpg) no-repeat 50% -15vh;
  background-position: 20% 40%;
  background-size: cover;
  position: fixed;
  bottom: 0;
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.icon-item {
  perspective:  1000px;
}

.icon-link {
  width: 200px;
  height: 200px;
  border: 8px solid #fff;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 0px 0px 25px yellow;
}

.icon-link:hover {
  transform: rotateY(60deg);
}

.icon-link::before {
  content: '';
  height: 20px;
  width: 5px;
  background-color: #FFF;
  position: absolute;
  top: 0;
}

.icon-link::after {
  content: '';
  height: 20px;
  width: 5px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
}

.icon-link i {
  color: var(--color3);
  font-size: 60px;
  width: 150px;
  height: 150px;
  background-color: var(--color4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  overflow: hidden;
  position: relative;
  transition: all .5s;
}

.icon-link:hover i {
  transform: rotateY(-75deg);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, .7);
}

.icon-link i::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -130%;
  right: -130%;
  border-radius: 100%;
  z-index: -1;
  transition: all .5s;
}

.icon-item:nth-child(1) .icon-link i::after {
  background-color: #3b5999;
}

.icon-item:nth-child(2) .icon-link i::after {
  background-color: #cd201f;
}

.icon-item:nth-child(3) .icon-link i::after {
  background-color: #55acee;
}

.icon-item:nth-child(4) .icon-link i::after {
  background-color: #dd4b39;
}

.icon-link:hover i::after {
  top: 0;
  right: 0;
}