@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=PT+Sans&family=Roboto:ital@0;1&display=swap");
::selection {
  background-color: var(--color-primary);
  color: var(--color-quinary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #d62828;
  --color-primary-m: #d62828d1;
  --color-secondary: #fcbf49;
  --color-secondary-m: #fcc0498d;
  --color-quaternary:#003049;
  --color-quaternary-m:#002f49c4;
  --color-tertiary: #f77f00;
  --color-tertiary-m: #f780008a;
  --color-quinary: #eae2b7;
  --color-quinary-m: #eae2b7aa;
}

html[data-theme=dark] {
  --color-primary: #000814;
  --color-primary-m: #000814c8;
  --color-secondary:#003566;
  --color-secondary-m:#0035668c;
  --color-tertiary: #001d3d;
  --color-tertiary-m: #001d3dc4;
  --color-quaternary: #ffc300;
  --color-quaternary-m: #ffc400bc;
  --color-quinary: #ffd60a;
  --color-quinary-m: #ffd60abb;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel", serif;
  line-height: 1.9;
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content);
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: min-content 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: calc(1.2rem + 0.5vw);
}

i {
  font-size: calc(1.5rem + 2vw);
}

.header {
  grid-column: container-start/container-end;
}
.header.open .header__menu--line {
  background-color: transparent;
}
.header.open .header__menu--line::before {
  transform: rotate(45deg);
}
.header.open .header__menu--line::after {
  transform: rotate(-45deg);
}
.header.open .header__menu--line::before, .header.open .header__menu--line::after {
  top: 0;
}
.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-tertiary);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: -10;
}
.header__nav {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-primary);
  text-transform: uppercase;
}
.header__nav--log {
  padding: 1rem;
}
.header__nav--log img {
  height: 5rem;
  width: 5rem;
}
.header__nav--links {
  display: flex;
}
.header__nav--links__item a:link,
.header__nav--links__item a:visited {
  margin-right: 2vw;
  padding: 0 1.5rem;
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.header__nav--links__item a:hover,
.header__nav--links__item a:active {
  transform: rotateX(90deg);
}
.header__nav--links__item a:link::after,
.header__nav--links__item a:visited::after {
  content: attr(data-text);
  position: absolute;
  background-color: var(--color-tertiary);
  left: 0;
  bottom: -100%;
  width: 100%;
  transform: rotateX(-90deg);
  transform-origin: top;
  padding: inherit;
  box-shadow: 0 0 15px var(--color-tertiary-m);
}
.header__nav--links__item:nth-child(odd) {
  animation: downwards 1s forwards;
}
.header__nav--links__item:nth-child(even) {
  animation: upwards 1s forwards;
}
.header__nav--links__toggle-container {
  display: flex;
  align-items: center;
}
.header__nav--links__toggle-container input[type=checkbox] {
  position: relative;
  width: 6rem;
  height: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-quinary);
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.6rem 0.1rem rgb(158, 157, 157);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.header__nav--links__toggle-container input:checked[type=checkbox] {
  background-color: rgba(214, 40, 40, 0.8196078431);
}
.header__nav--links__toggle-container input:not(:checked)[type=checkbox] {
  background-color: var(--color-quaternary);
}
.header__nav--links__toggle-container input[type=checkbox]::before,
.header__nav--links__toggle-container input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-quinary);
  box-shadow: 0 0.1rem 0.3rem 0.1rem hsla(0deg, 0%, 50%, 0.35);
  transition: all 0.5s ease-in-out;
}
.header__nav--links__toggle-container input[type=checkbox]::before {
  left: 0.5rem;
}
.header__nav--links__toggle-container input[type=checkbox]::after {
  right: 0.5rem;
}
.header__nav--links__toggle-container input:checked[type=checkbox]::before {
  left: 37%;
  box-shadow: none;
}
.header__nav--links__toggle-container input:checked[type=checkbox]::after {
  right: 37%;
  box-shadow: none;
}
@media screen and (min-width: 1300px) {
  .header__nav--links__item a:link,
.header__nav--links__item a:visited {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 800px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    line-height: initial;
    flex-direction: column;
    text-align: center;
    z-index: 20;
    transform: perspective(70rem) rotateY(0.5turn);
    transform-origin: top left;
    transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header__nav--links {
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .header__nav--links__item {
    animation: initial;
  }
  .header__nav--links__item a:link,
.header__nav--links__item a:visited {
    transform-origin: left;
    margin-left: initial;
    padding: 2rem;
    font-size: 1.2rem;
  }
  .header__nav--links__item a:hover,
.header__nav--links__item a:active {
    transform: rotateY(90deg);
  }
  .header__nav--links__item a:link::after,
.header__nav--links__item a:visited::after {
    top: 0;
    bottom: 100%;
    left: 100%;
    width: 107%;
    height: 100%;
    transform-origin: left;
    transform: rotateY(-90deg);
  }
  .header__nav--links__toggle-container {
    justify-content: center;
  }
  .header.open nav {
    transform: rotateY(0);
  }
  .header__menu {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 20;
    cursor: pointer;
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.2rem;
    background-color: var(--color-quinary);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
  }
  .header__menu--line::before {
    top: -2.2rem;
  }
  .header__menu--line::after {
    top: 1.3rem;
  }
  .header__overlay {
    display: block;
    opacity: 0.8;
  }
}

@keyframes upwards {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes downwards {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.showcase {
  grid-column: container-start/container-end;
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url("../img/showcase/1.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.showcase__content {
  display: flex;
  flex-direction: column;
}
.showcase__content--title {
  text-align: center;
  font-size: calc(1.5rem + 5vw);
  font-weight: 300;
  background-image: linear-gradient(135deg, var(--color-quaternary), var(--color-quinary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.showcase__content--para {
  font-size: calc(1.5rem + 1vw);
  font-weight: 300;
  color: var(--color-quaternary);
}
.showcase__content--links {
  display: flex;
  justify-content: center;
}
.showcase__content--links a:link,
.showcase__content--links a:visited {
  font-size: calc(1.2rem + 0.5vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  text-transform: uppercase;
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.showcase__content--links a:link:first-child,
.showcase__content--links a:visited:first-child {
  border: 0.2rem solid var(--color-primary);
  margin-right: calc(1rem + 2vw);
  box-shadow: inset 0 0 1em var(--color-primary-m), 0 0 1em var(--color-primary-m);
}
.showcase__content--links a:link:first-child::before,
.showcase__content--links a:visited:first-child::before {
  background-color: var(--color-primary);
}
.showcase__content--links a:link:last-child,
.showcase__content--links a:visited:last-child {
  border: 0.2rem solid var(--color-secondary);
  color: var(--color-quaternary);
  margin-right: calc(1rem + 2vw);
  box-shadow: inset 0 0 1em var(--color-secondary-m), 0 0 1em var(--color-secondary-m);
}
.showcase__content--links a:link:last-child::before,
.showcase__content--links a:visited:last-child::before {
  background-color: var(--color-secondary);
}
.showcase__content--links a:link:first-child::before,
.showcase__content--links a:visited:first-child::before,
.showcase__content--links a:link:last-child::before,
.showcase__content--links a:visited:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.showcase__content--links a:hover:first-child::before,
.showcase__content--links a:active:first-child::before,
.showcase__content--links a:hover:last-child::before,
.showcase__content--links a:active:last-child::before {
  transform: scale(1);
}
@media screen and (max-width: 800px) {
  .showcase__content--title {
    text-align: left;
  }
  .showcase__content--links {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .showcase {
    padding: 4rem;
  }
  .showcase__content--title {
    font-size: calc(2.5rem + 5vw);
    font-weight: 400;
  }
  .showcase__content--para {
    font-size: 2rem;
  }
  .showcase__content--links a:link,
.showcase__content--links a:visited {
    font-size: calc(1.2rem + 0.5vw);
  }
}
@media screen and (max-width: 400px) {
  .showcase__content--links {
    flex-direction: column;
    align-items: flex-start;
  }
  .showcase__content--links a:link,
.showcase__content--links a:visited {
    display: inline-block;
  }
  .showcase__content--links a:link:first-child,
.showcase__content--links a:visited:first-child {
    margin-bottom: 5vw;
  }
}

.motto {
  grid-column: container-start/container-end;
  background-image: url("../img/motto/1.jpg");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
}
.motto__content {
  display: grid;
  grid-row-gap: 4vh;
  background-color: var(--color-primary-m);
  padding: 2rem;
}
.motto__content--link:link, .motto__content--link:visited {
  background: none;
  place-self: start;
  padding: 0.7rem 1.5rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  color: var(--color-secondary);
  overflow: hidden;
}
.motto__content--link:link span, .motto__content--link:visited span {
  display: block;
  position: absolute;
}
.motto__content--link:link span:first-child, .motto__content--link:visited span:first-child {
  top: 0;
  left: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-quaternary));
  transition: 0.5s;
  transition-delay: 1s;
}
.motto__content--link:link span:nth-child(2), .motto__content--link:visited span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(180deg, transparent, var(--color-quaternary));
  transition: 0.5s;
  transition-delay: 0.75s;
}
.motto__content--link:link span:nth-child(3), .motto__content--link:visited span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--color-quaternary));
  transition: 0.7s;
  transition-delay: 0.25s;
}
.motto__content--link:link span:nth-child(4), .motto__content--link:visited span:nth-child(4) {
  top: 100%;
  left: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(360deg, transparent, var(--color-quaternary));
  transition: 0.5s;
  transition-delay: 0s;
}
.motto__content--link:hover, .motto__content--link:active {
  background: var(--color-quaternary);
  transition-delay: 1s;
}
.motto__content--link:hover span:first-child, .motto__content--link:active span:first-child {
  left: 100%;
  transition-duration: 1s;
  transition-delay: 0s;
}
.motto__content--link:hover span:nth-child(2), .motto__content--link:active span:nth-child(2) {
  top: 100%;
  transition-duration: 1s;
  transition-delay: 0.25s;
}
.motto__content--link:hover span:nth-child(3), .motto__content--link:active span:nth-child(3) {
  right: 100%;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.motto__content--link:hover span:nth-child(4), .motto__content--link:active span:nth-child(4) {
  top: -100%;
  transition-duration: 1s;
  transition-delay: 0.75s;
}

.features {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.features__content {
  display: grid;
  grid-gap: 2vw;
  padding: 2rem 4rem;
  height: 40rem;
  align-items: center;
}
.features__content--title {
  font-weight: 700 !important;
  text-align: center;
  position: relative;
  align-self: end;
  z-index: 1;
}
.features__content--title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-m);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
.features__content:hover .features__content--title::before, .features__content:active .features__content--title::before {
  transform: scaleX(1);
  transform-origin: left;
}
.features__content--para {
  font-weight: 500 !important;
  background-color: var(--color-primary-m);
  padding: 1rem;
  text-align: center;
}
.features__content--link:link, .features__content--link:visited {
  padding: 1rem 1.7rem;
  justify-self: start;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.features__content--link:link span, .features__content--link:visited span {
  position: absolute;
  display: block;
}
.features__content--link:link span:nth-child(1), .features__content--link:visited span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(90deg, transparent, var(--color-primary));
  animation: border1 1s linear infinite;
  animation-delay: 0s;
}
.features__content--link:link span:nth-child(3), .features__content--link:visited span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(270deg, transparent, var(--color-primary));
  animation: border3 1s linear infinite;
  animation-delay: 0.5s;
}
.features__content--link:link span:nth-child(2), .features__content--link:visited span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 0.5rem;
  background-image: linear-gradient(180deg, transparent, var(--color-primary));
  animation: border2 1s linear infinite;
  animation-delay: 0s;
}
.features__content--link:link span:nth-child(4), .features__content--link:visited span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.5rem;
  background-image: linear-gradient(360deg, transparent, var(--color-primary));
  animation: border4 1s linear infinite;
  animation-delay: 0.5s;
}
.features__content--link:hover, .features__content--link:active {
  background-color: var(--color-primary);
}
@media screen and (max-width: 400px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
.features .features__content:nth-child(1) {
  background-image: url("../img/features/features-1.jpg");
}
.features .features__content:nth-child(2) {
  background-image: url("../img/features/features-2.jpg");
}
.features .features__content:nth-child(3) {
  background-image: url("../img/features/features-3.jpg");
}
.features .features__content:nth-child(4) {
  background-image: url("../img/features/features-4.jpg");
}
.features .features__content:nth-child(5) {
  background-image: url("../img/features/features-5.jpg");
}
.features .features__content:nth-child(6) {
  background-image: url("../img/features/features-6.jpg");
}
.features .features__content:nth-child(7) {
  background-image: url("../img/features/features-7.jpg");
}
.features .features__content:nth-child(8) {
  background-image: url("../img/features/features-8.jpg");
}
.features .features__content:nth-child(9) {
  background-image: url("../img/features/features-9.jpg");
}

@keyframes border1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes border3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes border2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes border4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
.trainers {
  grid-column: center-start/center-end;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.trainers__title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-quaternary-m);
  color: var(--color-primary);
  border-bottom-left-radius: 8rem;
  border-top-right-radius: 8rem;
}
.trainers__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6vh calc(1rem + 1vw);
  place-items: center;
}
.trainers__content--card {
  display: grid;
  position: relative;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}
.trainers__content--card__specialty, .trainers__content--card__name {
  position: absolute;
  bottom: 20%;
  left: 5%;
  transform: translate(-25rem, -15rem);
}
.trainers__content--card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.trainers__content--card:hover .trainers__content--card__img, .trainers__content--card:active .trainers__content--card__img {
  filter: contrast(30%);
}
.trainers__content--card:hover .trainers__content--card__specialty, .trainers__content--card:active .trainers__content--card__specialty, .trainers__content--card:hover .trainers__content--card__name, .trainers__content--card:active .trainers__content--card__name {
  animation: name 1.5s linear forwards;
  z-index: 1;
}

@keyframes name {
  0% {
    transform: translate(-25rem, -15rem);
    opacity: 0;
  }
  30% {
    transform: translate(8rem, -15rem);
    opacity: 0.3;
  }
  60% {
    transform: translate(8rem, 0rem);
    opacity: 0.6;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.testimonials {
  background-color: var(--color-quaternary);
  grid-column: container-start/container-end;
  height: 600px;
}

.clients {
  background-color: var(--color-secondary);
  grid-column: container-start/container-end;
  height: 600px;
}

.register {
  background-color: var(--color-tertiary);
  grid-column: container-start/container-end;
  height: 600px;
}

.footer {
  background-color: var(--color-quaternary);
  grid-column: container-start/container-end;
  height: 600px;
}

.showcase, .motto, .features .features__content:nth-child(1), .features .features__content:nth-child(2), .features .features__content:nth-child(3), .features .features__content:nth-child(4), .features .features__content:nth-child(5), .features .features__content:nth-child(6), .features .features__content:nth-child(7), .features .features__content:nth-child(8), .features .features__content:nth-child(9) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase, .motto, .trainers {
  padding: 6vh 4vw;
}

.motto__content--title, .features__content--title, .trainers__title {
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}

.motto__content--para, .features__content--para {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-quinary);
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.2rem;
}

.trainers__content--card__name {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-quinary);
}

.trainers__content--card__specialty {
  color: var(--color-quinary);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}/*# sourceMappingURL=main-style.css.map */