@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=IM+Fell+English:ital@1&family=Noto+Serif:ital@1&family=Volkhov:ital@1&display=swap');

:root {
  --yellow: #FFFFB5 ;
  --blue: #7dddf5 ;
  --green: #2EE0AE ;
  --green2: rgb(212, 240, 240) ;
  --pink: #FF709D ;
  --red: #ff4040 ;
  --black: #000;
  --orange: #ff8e7c;
  --orange2: #ffccb6;
  --column-1: #ffb87a;
  --column-2: #94b2ff;
  --column-3: #25ced1;
  --column-4: #ea526f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Volkhov', serif;
  background: url("./uno.jpg");
  background-position: 30% 0%;
  background-attachment: fixed;
  color: white;
  overflow-y: hidden;
  /* background-color: #60ffb5;  */

}

h1 {
  letter-spacing: 2px;
  text-shadow: 0px -2px rgba(46, 11, 34, 0.664);
  /* text-shadow: 2px 2px 5px black; */
}

.main-title {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  text-align: center;
  font-size: 3rem;
  border: 3px solid var(--black);
  color: var(--black);
  padding: 10px;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #daf;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 20px;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/* Columnas */

.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: var(--yellow);
  border: 4px solid var(--black);
  border-radius: 10px;
  overflow-x: hidden;
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
  background-color: var(--column-1);
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
  background-color: var(--column-2);
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
  background-color: var(--column-3);
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
  background-color: var(--column-4);
}

/* Custom Scrollbar */
.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: var(--yellow);
  margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  display: flex;
  padding: 1.5rem;
  border: 2px solid var(--black);
  color: var(--black);
  justify-content: center;
  border-radius: 7px;
  margin: 10px;
}

.header h1 {
  font-size: 2rem;
}

/* Drag and Drop */
.over {
  padding: 50px 10px;
}

.drag-item-list {
  min-height: 50px;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.drag-item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: var(--green2) ;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.drag-item:focus {
  outline: none;
  background-color: black;
  color: #fff;
}

/* Add Button Group */
.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;
  color: black;
}

.fas {
  /* width: 100%; */
  position: absolute;
  bottom: -18px;
  right: -14px;
  font-size: 1.7rem;
  padding:  .7rem .8rem;
  background-color: var(--pink);
  border: none;
  border-radius: 0 20px 2px 0 ;
  border-right: 3px solid rgba(223, 114, 187, 0.664);
  border-top: 3px solid rgba(223, 114, 187, 0.664);
	text-shadow: 0px -2px rgba(112, 3, 76, 0.664);
  outline: none;
  cursor: pointer;
  
}

.fas:hover {
	background-color: #55cbd3;
  border-right: 4px solid #55cbd3;
  border-top: 4px solid #55cbd3;
	text-shadow: 0px -2px rgba(112, 3, 76, 0.664);
  color: #fff;
}

.fas:active {
	border-bottom: 2px solid;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
  border: 2px solid var(--black);
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(212, 240, 240, 0.8);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: black;
  padding: 10px;
}

.add-item:focus {
  outline: none;
}

.clock {
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  left: 10rem;
  padding: 1rem;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 800;
  border: 4px solid var(--black);
  transform: skewX(-10deg);
}

.colors {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.color {
  margin: 3px;
  height:30px;
  width: 30px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

.green {
  background:  #60ffb5;
}

.red {
  background:  #ff6787;
}

.orange {
  background:  #fe8e7b;
}

.pink {
  background:  #ffcfcb;
}

.purple {
  background:  #d18bc0;
}

.purple {
  background:  #55cbd3;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .drag-container {
    margin: 0;
  }

  .drag-list {
    display: block;
  }

  .drag-column {
    margin: 10px;
  }

  .clock {
    font-size: .5rem;
    left: 0rem;
    padding: .3rem;
    border: 3px solid var(--black);
  }

  .colors {
    display: flex;
    margin: 0;
    /* flex-direction: column; */
    flex-wrap: wrap;
    top: .3rem;
    left: 300px;
    right: 0px;
  }
  
  .color {
    margin: 3px;
    height: 20px;
    width: 20px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
  }
}