@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --yellow: #FFF560 ;
  --blue: #0083FB ;
  --green: #2EE0AE ;
  --pink: #FF709D ;
  --red: #fc0101 ;
  --black: #000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* `1 Parte` */
body {
  background-color: var(--yellow);
}

section {
  width: 100%;
  padding: 0 3rem;
}

.container {
  max-width: 60rem;
  margin: 5rem auto;
}

.add-item {
  background-color: var(--green);
  padding: 5rem 0;
  margin: 2rem auto;
  border-radius: 5px;
  border: 3px solid ;
}

.add-item form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item form input {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 3px;
  border: 2px solid var(--black);
  outline: none;
}