@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&family=Noto+Serif:ital@1&family=Volkhov:ital@1&display=swap');

:root {
  --yellow: #FFF560 ;
  --blue: #7dddf5 ;
  --green: #2EE0AE ;
  --pink: #FF709D ;
  --red: #ff4040 ;
  --black: #000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* `1 Parte` */
body {
  background-color: var(--yellow);
}

section {
  width: 100%;
  padding: 0 3rem;
}

.container {
  max-width: 60rem;
  margin: 5rem auto;
}

.add-item {
  background-color: var(--green);
  padding: 5rem 0;
  margin: 2rem auto;
  border-radius: 5px;
  border: 3px solid ;
}

.add-item form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item form input {
  padding: 1rem 1.5rem;
  font-family: 'Volkhov', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--black);
  border-radius: 3px;
  border: 2px solid var(--black);
  outline: none;
  width: 75%;
  margin-right: 5px;
  /* display: none; */
}

form button {
  width: 10%;
  font-size: 2rem;
  padding: 1rem 0;
  background-color: var(--pink);
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid rgba(112, 3, 76, 0.664);
	text-shadow: 0px -2px rgba(112, 3, 76, 0.664);
  outline: none;
  cursor: pointer;
}

form button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.msg {
  font-family: 'Volkhov', serif;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--black);
  margin-bottom: 1rem;
  font-family: 'Noto Serif', serif;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 2px;
}

ol li {
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 5px 0;
  background-color: #fff;
  border-bottom: 4px solid rgba(4, 16, 39, 0.664);
  border-right: 4px solid rgba(46, 57, 77, 0.664);
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  transition: ease-in-out 1s;
}

ol li:nth-child(odd) {
  background-color: var(--blue);
  color: var(--black);
  border-bottom: 4px solid rgb(7, 72, 116);
  border-right: 3px solid rgb(25, 116, 177);
}

li button { 
  position: absolute;
  right: 1rem;
  top: 5px;
  font-size: 2.5rem;
  padding: .5rem;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid rgba(112, 3, 76, 0.664);
	text-shadow: 0px -2px rgba(112, 3, 76, 0.664);
  color: #fff;
  outline: none;
  cursor: pointer;
}

li button:active {
  transform: translate(0px,2px);
  -webkit-transform: translate(0px,2px);
	border-bottom: 1px solid;
}

.clear {
  font-family: 'Volkhov', serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--red);
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid rgba(112, 3, 76, 0.664);
	text-shadow: 0px -2px rgba(112, 3, 76, 0.664);
  outline: none;
  cursor: pointer;
}

.clear:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

@media(max-width: 400px) {

  .add-item {
    padding: 2rem 0;
    margin: 1rem auto;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  form button {
    width: 10%;
    font-size: 1.5rem;
    padding: .5rem 0;
    border-radius: 5px;
    border-bottom: 3px solid rgba(112, 3, 76, 0.664);
  }

  .msg {
    font-size: .5rem;
  }

  form button:active {
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
  }

  .container {
    margin: 0 auto;
  }

  .add-item form input {
    font-family: 'Volkhov', serif;
    font-size: 1.5rem;
  }

  ol li {
    font-size: 2rem;
    margin: 2px 0;
    background-color: #fff;
    border-bottom: 3px solid rgba(4, 16, 39, 0.664);
    border-right: 3px solid rgba(46, 57, 77, 0.664);
    padding: .5rem;
  }
  
  ol li:nth-child(odd) {
    background-color: var(--blue);
    color: var(--black);
    border-bottom: 3px solid rgb(7, 72, 116);
    border-right: 3px solid rgb(25, 116, 177);
  }

  li button { 
    top: 1px;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: var(--red);
    border-bottom: 2px solid rgba(112, 3, 76, 0.664);
  }

  .clear {
    font-family: 'Volkhov', serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    border-bottom: 3px solid rgba(112, 3, 76, 0.664);
  }

  .clear:active {
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
  }
}