@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Empezar Aqui */
.main {
  width: 100%; height: 100vh;
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.btn {
  font-size: 2rem;
  padding: 0.9vh 0.8vh;
  /* border-radius: 5px; */
  border: 2px solid #ff007e;
  box-shadow: 0 8px 10px #ff8100;
  background-color: #ff0100;
  color: rgb(221, 212, 212);
  cursor: pointer;
  outline: none;
  margin: 1rem 0;
  /* transition: border 3s ease; */
} 

.btn:active {
  transform: scale(.97);
  border: none;
  box-shadow: 0 10px 12px inherit;
}

.btn-warning {
  background-color: #ff5616;
  border: 2px solid #ff0028;
  box-shadow: 0 8px 10px #ff00a7;
}

.alert {
  background: #f8d7da;
  padding: 4vh 8vh;
  min-width: 40rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 5px;
  border-left: calc(2px + .90vh) solid transparent;
  box-shadow: -3px 0 3px #ff0100;
  border-color: #ff0100;
  transform: translateX(110%);
}

alert.show {
  animation: ;
}

@keyframes slide-in {
  0% { transform: translateX(100%); }
  40% { transform: translateX(-10%); }
  0% { transform: translateX(0%); }
  0% { transform: translateX(-1rem); }
}