@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--white: #f3effe;
	--black: #1c2b2d;
	--purple-stronge: #36174d;
	--red: #ff4778;
	--purple: #6f36bc;
	--green: #36d7e7;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20%;
}

.main-container {
	display: flex;
	justify-content: center;
}