@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--white: #f3effe;
	--black: #1c2b2d;
	--purple-stronge: #36174d;
	--red: #ff4778;
	--purple: #6f36bc;
	--green: #36d7e7;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-image: radial-gradient(circle at 50% 50%, #e3ac3c 0, #eba33c 5.56%, #f39a3d 11.11%, #f88f40 16.67%, #fd8343 22.22%, #ff7547 27.78%, #ff664c 33.33%, #ff5452 38.89%, #ff3e58 44.44%, #fb1e5f 50%, #f50067 55.56%, #ed0071 61.11%, #e4007d 66.67%, #d90089 72.22%, #cb0097 77.78%, #ba00a5 83.33%, #a600b4 88.89%, #8e00c2 94.44%, #6e1acf 100%);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20%;
}

.main-container {
	display: flex;
	justify-content: center;
}

.instructions {
	font-size: 1.6rem;
	width: 30%;
	/* height: 100vh; */
	border-radius: 10px;
	margin-top: 10px;
	background-color: var(--black); 
	color: var(--white);
	padding-top: 5rem;
}

.instructions h2 {
	font-size: 3.5rem;
	color: var(--red);
	text-align: center;
	margin-bottom: 1rem;
	border-bottom: .5rem solid var(--green);
	position: relative;
	padding: 5px 0;
}

.instructions h2::after {
	content: '';
	position: absolute;
	left: 33.3%;
	right: 33.3%;
	top: -5px;
	width: 33.3%;
	height: 3px;
	background-color: var(--green);
}

.instructions ol {
	padding: 1rem 0  0 1.5rem;
}

.instructions ol a {
	color: var(--green);
	text-decoration: none;
}

.download-link {
	width: 70%;
	padding-top: 5rem;
}

.download-link section {
	border: 3px solid var(--purple);
	border-radius: 10px;
}

main h1 {
	display: block;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 5rem;
	text-align: center;
	color: var(--purple-stronge);
}

main input[type=radio] {
	display: none;
}

main nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eee;
	padding: 5px 10px;
	position: relative;
	background-color: var(--green);
	z-index: 1;
	color: var(--white);
	border-radius: 5px;
} 

main nav label {
	font-size: 1.6rem;
	font-weight: 500;
	padding: 1rem;
	position: relative;
	text-align: center;
	cursor: pointer;
	color: rgb(117, 112, 112);	
}

main nav label i {
	padding-right: 5px;
	color: var(--red);
}

nav .slide {
	position: absolute;
	top: 0;
	left:1%;
	width: 30%;
	height: 100%;
	background-color: var(--purple);
	border-radius: 5px;
	z-index: -1;
	transition: all .3s;
}

#register:checked ~ nav .slide {
	left: 31%;
}

#reset:checked ~ nav .slide {
	left: 67%;
}

#login:checked ~ nav label#login,
#register:checked ~ nav label#register,
#reset:checked ~ nav label#reset {
	color: var(--white);
}

.content {
	display: none;
}

#login:checked ~ section .content-link {
	display: block;
}

#register:checked ~ section .content-audio {
	display: block;
}

#reset:checked ~ section .content-video {
	display: block;
}

/* Estilos del Formulario  */
section .content {
	margin: 3rem auto;
	text-align: center;
}

.content > i {
	font-size: 3rem;
	color: var(--white);
	padding: 8px;
	border-radius: 5rem;
	background-color:var(--red);
}

.content h2 {
	font-size: 2rem;
	line-height: 2;
	padding: 0 1rem;
	position: relative;
}

.content p {
	display: inline-block;
	padding: 1rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
	font-weight: 550;
}

.content form {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.content form label {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.content form label input {
	display: block;
	width: 100%;
	padding: 1.3rem 3rem;
	font-size: 1.4rem;
	border-radius: 10px 0 10px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.1);
	outline: none;
	color: var(--black);
	transition: all .3s;
}

.content form label input:focus:invalid {
	font-size: 1.6rem;
	border-bottom: 2px solid var(--red);
	border-right: 2px solid var(--red);
}

.content form label input:valid {
	font-size: 1.6rem;
	border-bottom: 2px solid green;
	border-right: 2px solid green;
	background-color: var(--white);
}

.content form i {
	position: absolute;
	left: 1rem;
	top: 1.5rem;
	font-size: 1.3rem;
	color: var(--black)
}

::placeholder {
	font-size: 1.6rem;
	color: gray;
}

.content .btn {
	padding: 1.2rem;
	font-size: 1.6rem;
	font-weight: 700;
	background-color: var(--purple);
	color: var(--white);
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s;
}

.content .btn:hover {
	background-color: var(--purple-stronge)
} 

.content .btn:active {
	transform: scale(.97);
}

.embed-code {
	font-size: 1.6rem;
	position: relative;
}

.content form textarea {
	width: 100%;
	height: 10rem;
	outline: none;
	font-size: 1.6rem;
	font-family: inherit;
	margin-bottom: 2rem;
}

.embed-code span {
	position: absolute;
	right: 1px;
	font-size: 1.6rem;
	font-weight: 700;
	bottom: 25px;
	background-color: var(--red);
	color: var(--white);
	padding: .5rem;
	border-radius: 5px;
	border: 1px solid #eee;
	cursor: pointer;
	transition: all .3s;
}

.embed-code span:hover {
	/* transform: scale(1.2); */
	transform: scale(1.2) skewX(-10deg);
}

@media(max-width:800px) {
	.instructions h2 {
		font-size: 1.6rem;
	}

	.instructions .container { 
		font-size: 1.1rem;
	}	

	section .content {
		margin: 1rem auto;
		text-align: center;
	}
	.content > i {
		font-size: 1.5rem;
		padding: 8px;
	}
	
	main h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 2rem;
	}
	.content h2 {
		font-size: 1rem;
	}

	main nav label {
		font-size: 1rem;
		font-weight: 500;	
	}

	.content p {
		font-size: .8rem;
	}

	.content form label input {
		width: 100%;
		padding: .8rem;
		font-size: 1rem;
		border-radius: 10px 0 10px 0;
		margin-bottom: 1rem;
		
	}

	.content form label input:focus:invalid {
		font-size: 1rem;
	}

	.content form label input:valid {
		font-size: 1rem;
	}

	.content .btn {
		padding: 1.2rem;
		font-size: 1rem;
		font-weight: 500;
	}

	.embed-code {
		font-size: 1rem;
	}

	.content form textarea {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
	
	.embed-code span {
		font-size: 1rem;
		font-weight: 500;
	}


}