@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Rubik&display=swap');

:root {
  --color1: #010B5D; 
  --color2: #FD7282; 
  --color3: #5C1576; 
  --color4: #F4B0B0; 
  --color5: #FC47BB; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Pacifico', cursive;
  background: url(./images/01.jpg) no-repeat ;
  background-size: cover;
  background-attachment: fixed; 
  height: 100vh;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  width: 900px;
  background: rgba(0, 0, 0, .6);
  background-attachment: fixed;
  z-index: -1;
  transform: translateX(-50%);
}

/* p {
  font-size: 1.6rem;
  line-height: 1.5;
} */

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

header .container {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--color2);
  border-radius: 0 8rem 8rem 5rem;
  box-shadow: 0 5px 10px rgba(236, 31, 12, 0.5), 0 15px 40px rgba(236, 16, 16, 0.2);
  transition: 0.5s cubit-bezier(0.4, 0.2, 0.2, 1);
  transform: rotateY(0deg);
	transform-style: preserve-3d;
}

header h1 {
  font-size: 3rem;
  color: var(--color1);
  /* padding-top: 1rem; */
}

form input,
form button {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Old Standard TT', serif;
  border-radius: 3px;
}

form input {
  width: 50%;
  /* border-radius: 1rem 0 1rem 0 */
  margin-right: 3px;
  border-bottom: 3px solid var(--color1);
  box-shadow: 0 5px 10px rgba(230, 37, 19, 0.5), 0 15px 40px rgba(245, 13, 13, 0.2);
}

form button {
  background-color: var(--color3);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .3s;
}

form button:hover {
  border: 2px solid var(--color4);
}

section .container {
  display: block;
  margin-right: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding: 3rem 0;
}

.songs {
  width: 70%;
}

.songs {
  width: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 2rem 0;
}

.songs li {
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--color4);
}

.songs li span {
  font-size: 1.4rem;
  background-color: var(--color5);
  padding: 5px;
  margin: 5px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.mesag {
  background-color:var(--color4);
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  padding: 5px;
  font-size: 1.5rem;
  margin-top: 20px;
  transform: translateX(115%);
}


@media screen and (max-width: 650px) {  
  header .container {
    padding: 1rem 0;
  }

  header h1 {
    font-size: 2rem;
  }

  form input,
  form button {
    padding: .8rem;
    font-size: 1.3rem;
    font-weight: 700;
}

section .container {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.songs {
  width: 50%;
}

.songs li {
  font-size: 1.4rem;
  padding: 2px 0;
}

.songs li span {
  font-size: 1.4rem;
  background-color: var(--color5);
  padding: 3px;
  margin: 3px;
}

.mesag {
  padding: 3px;
  font-size: 1.2rem;
}

}