@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--color1: #A8A7A8;
	--color2: #cc527a;
	--color3: #E8175D;
	--color4: #474747;
	--color5: #363636;
}

body {
	background-image: radial-gradient(circle at 50% 50%, #ff986f 0, #ff8b71 16.67%, #ff7e72 33.33%, #ff7171 50%, #ec656f 66.67%, #db5a6e 83.33%, #cb526c 100%);
	font-family: 'Roboto Slab', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

.container {
	background-color: var(--color4);
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	padding: 20px;
	width: 350px;
	max-width: 100%;
	color: #fff
}

.result-container {
	background-color: var(--color5);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}

.btn {
	border: none;
	background-color: var(--color1);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	padding: 8px 12px;
	cursor: pointer;
}

.btn-large {
	color: #fff;
	display: block;
	width: 100%;
}

.setting {
	letter-spacing: 0.8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

input[type="checkbox"] {
	box-shadow: 0 0 0 1px var(--color1);
	width: 20px;
	height: 20px;
	background: var(--color3)
}