@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --color1: #c21333;
  --color2: #1d202b;
  --color3: #1f212c;
  --color4: #d8d8c8;
  --color5: #ed9c20; 
  --color6: #a46b78; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 10%;
}

.switch-cur {
  width: 35%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Aqui empezamos */
section.main {
  width: 100%; height: 100vh;
  background-color: var(--color2);
  display: flex; 
  flex-direction: column; justify-content: center; align-items: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--color6);
  text-shadow: 0 0 5px var(--color6);
}

.box {
  background-color: var(--color1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px var(--color1);
  border-radius: 20px;
  width: 35rem;
  padding: 4rem;
}

.base-convert {
  background-color: var(--color3);
  color: var(--color4);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.base-convert-1 {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 20%; height: 100%;
  background-color: var(--color1);
  border-radius: 60%;
  box-shadow: 0 0 10px var(--color1);
}

.base-convert-2 {
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 20%; height: 100%;
  background-color: var(--color1);
  border-radius: 60%;
  box-shadow: 0 0 10px var(--color1);
}

.base-convert p {
  font-weight: 700;
}