@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital@1&display=swap');

:root {
  --color1: #51E2F5;
  --color2: #9DF9EF;
  --color3: #EDF7F5;
  --color4: #FFA886;
  --color5: #A28289;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  /* font-size: 1.6rem; */
  line-height: 1.5;
}

img {
  width: 100%;
  height: 70%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Empezar aqui */
header {
  background-color: var(--color4);
  padding: 1rem;
}

header h1 {
  font-family: 'Sarabun', sans-serif;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 2px;
  /* color: var(--color1); */
  color: rgb(68, 67, 67);
  text-align: center;
  text-transform: uppercase;
}

header h1::first-letter {
  font-size: 1.3em;
  color: var(--color1);
} 

form input {
  position: relative;
  text-align: center;
  width: 20rem;
  padding: .7rem;
  border-radius: 10px; 
  border: none; 
  display: flex;
  outline: none;
  margin-bottom: 1.2rem;
}

.fa-heart {
  position: absolute;
  padding: .8rem;
  font-size: 1.5rem;
  background-color: var(--color5);
  border-radius: 10px 0 0 10px;
  color: #fff;
  z-index: 1;
}

form input:focus {
  border-bottom: 1px solid var(--color5);
  border-right: 2px solid var(--color5);
}

.fa-heart:hover {
  color: red;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color5);
  margin: .5rem;
  background-color: var(--color3);
  padding: 5px;
  border-radius: 5px;
}

.btn:hover {
  color: rgb(56, 233, 218);
}

.active {
  background-color: var(--color5);
  color: var(--color3);
}

#store-products  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr ));
  /* row-gap: 2rem;
  column-gap: 2rem; */
  grid-gap: 2.5rem;
  padding: 2rem 0;
}

.store-product {
  border: 1px solid var(--color2);
  border-radius: 5px;
  max-width: 250px;
  animation: slide-up 0.5s ease;
  transform: all 0.3s;
}

.toggle-darkmode {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 3px;
}

.store-product:hover {
  transform: scale(1.2);
}

.product-details {
  text-align: center;
  padding-bottom: 1rem;
  background-color: var(--color2);  
  border-radius: 3px;
}

.product-details h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.product-details p {
  font-size: 1.2rem; 
  color: var(--color5);
  padding-bottom: 1rem;
  font-weight: 900;
}

.product-details a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color4);
  color: #000;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.product-details a:hover {
  background-color: var(--color5);
  color: #fff;
} 

.product-details p span {
  text-decoration: line-through;
  color: rgb(250, 88, 88);
  font-weight: 500;
}

.no-result {
  display: none;
  background-color: var(--color3);
  color: var(--color5);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;

}

.show {
  display: block;
}

@keyframes slide-up {
  0% { transform: translateY(2rem); }
  100% { transform: translateY(0rem); }
}

@media screen and (max-width: 600px) {
  #store-products  {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr ));
    padding: 1rem;
  } 
}