@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --color1:  #67adff;
  --color2:  #67f9ff;
  --color3:  #6d67ff;
  --colorGray: #5c5656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* A darle */
.main {
  height: 100vh;
  background: rgb(109,103,255);
  background: radial-gradient(circle, rgba(109,103,255) 13%, rgba(103,249,255) 82%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--color1);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba( 0, 0, 0, .3);
  width: 40rem0;
}

form {
  padding: 2rem;
}

form h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-control {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  color: var(--colorGray);
}

.form-control input {
  display: block;
  border: 2px solid var(--colorGray);
  border-radius: 3px;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
}     

.form-cotrol input:focus {
  border:rgba( 0, 0, 0, .2);
}

.form-control.success input {
  border-color: green;
}