@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
	--color1: #232c27;
	--color2: #284854;
	--color3: #60747c;
	--color4: #b8b8aa;
	--color5: #d9a774;
}

* {
	padding: 0;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}

body {
	background-image: radial-gradient(circle at 48.46% 49.44%, #977a79 0, #7f706e 12.5%, #656464 25%, #49575b 37.5%, #284854 50%, #00394e 62.5%, #002b49 75%, #001f45 87.5%, #001441 100%);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
}

p {
	font-size: 1.6rem;
	line-height: 1.5;
}

img {
	width: 100%;
}

/* primero */
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.quiz-box {
	width: 800rem;
	margin: 0 auto;
	background-color: var(--color3);
	/* background-color: rgba(0, 0, 0, 0.3); */
	padding: 1rem 5rem 5rem 5rem;
	border: 3px solid var(--color4);
	border-radius: 8px;
}

.quiz-box h1 {
	background-color: var(--color4);
	border-radius: 10px;
	font-size: 4rem;
	text-align: center;
	color: var(--color1);
	padding: 1rem 0;
	width: 100%;
	margin-bottom: 2rem;
}

.quiz-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.quiz-header #count-down {
	background-color: var(--color5);
	border-radius: 5px;
	padding: 5px;
	margin: 1px;
	color:var(--color1);
}

.quiz-box #question {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--color5);
	border: 1px solid var(--color4);
	border-width: 1px 0;
	padding: 5px 0;
}

.buttons {
	margin: 1.5rem 0 4rem 0;
}

.btn {
	display: flex;
	background-color: var(--color4);
	border: none;
	width: 100%;
	font-size: 1.8rem;
	color: var(--color1);
	border: 1px solid rgb(26, 40, 116);
	border-radius: 5px;
	margin: 7px 0;
	padding: 1rem;
	outline: none;
	transition: background-color .3s;
}

.btn:active {
	transform: scale(.98);
	border: 2px solid rgb(33, 175, 14);
	box-shadow: 2px 0 5px rgb(33, 175, 14);;
	background-color: var(--color1);
	color: #fff;
}

.btn:hover {
	cursor: pointer;
	background-color: var(--color2);
	color: #fff;
}

#score {
	color: var(--color1);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 4rem;
}

.quiz-repeat {
	text-align: center;
	margin: 0 auto;
}

.quiz-repeat a {
	font-size: 1.6rem;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	background-color: var(--color2);
	padding: 1rem;
	border-radius: 5px;
	transition: all .3s;
} 

.quiz-repeat a:hover {
	background-color: var(--color1);
}

footer p {
	display: flex;
	flex-direction: column;
	transform: translateX(38rem);
	font-size: 1rem;
}

footer p i {
	font-size: 4rem;
	/* text-align: center; */
}

audio {
	display: none;
}