// Font-Size
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=PT+Sans&family=Roboto:ital@0;1&display=swap');

// *-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*

// Light Color Palette (Custom Properties)
html {
	--color-primary: #d62828;
	--color-primary-m: #d62828d1;
	--color-secondary: #fcbf49;
	--color-secondary-m: #fcc0498d;
	--color-quaternary:#003049;
	--color-quaternary-m:#002f49c4;
	--color-tertiary: #f77f00;
	--color-tertiary-m: #f780008a;
	--color-quinary: #eae2b7;
	--color-quinary-m: #eae2b7aa;
	// --color-seven: #00ffc3;
}

// Dark Color Palette (Custom Properties)
html[data-theme="dark"] {
	--color-primary: #000814;
	--color-primary-m: #000814c8;
	--color-secondary:#003566;
	--color-secondary-m:#0035668c;
	--color-tertiary: #001d3d;
	--color-tertiary-m: #001d3dc4;
	--color-quaternary: #006664;
	--color-quaternary-m: #006664ab;
	--color-quinary: #ffd60a;
	--color-quinary-m: #ffd60abb;
}

// *-*-*-*-*-*-*-*-*-*- Font Weights *-*-*-*-*-*-*-*-*-*-*-*-
$font-weights: (
	'font-weight-thin': 100,
	'font-weight-light': 300,
	'font-weight-regular': 400,
	'font-weight-medium': 500,
	'font-weight-bold': 700,
	'font-weight-black': 900,
);

@function font-weight($font-weight-style) {
	@return map-get($font-weights, $font-weight-style)
};

// *-*-*-*-*-*-*-*-*-*- Font Size *-*-*-*-*-*-*-*-*-*-*-*-*
$font-sizes: (
	'font-size-small': calc(1.2rem + 0.5vw),
	'font-size-regular': calc(1.5rem + 1vw),
	'font-size-medium': calc(1.5rem + 2vw),
	'font-size-large': calc(1.5rem + 5vw),
	'font-size-xlarge': calc(2.5rem + 5vw),
);

@function font-size($font-size-style) {
	@return map-get($font-sizes, $font-size-style) 
};

// i {
// 	color: var(--color-primary)
// }

// *-*-*-*-*-*-*-*-*-*- Break Points *-*-*-*-*-*-*-*-*-*-*-*-*
$break-points: ( 
	"break-point-small": 400px,
	"break-point-medium": 600px,
	"break-point-tablet": 800px,
	"break-point-desktop": 1300px,
);

@function break-point($break-point-limit) {
	@return map-get($break-points, $break-point-limit)
};