
:root {
	font-size: 62.5%;
}

body {
	// font-family: 'Roboto', sans-serif;
	font-family: 'Cinzel', serif;
	line-height: 1.9;
	background-color: var(--color-primary);
}

.container {
	display: grid; // 6 * 16.66667 = 100.00002 * 10 = 1000.00002px // 
	grid-template-columns:
		[container-start] 1fr [center-start] repeat(6,
			[col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
	grid-template-rows: min-content 90vh repeat(9, min-content);
	// Media Query
	@include media-tablet {
		grid-template-rows: min-content 100vh repeat(9, min-content);
	}

}

li { 
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: var(--color-quinary);
	font-weight: font-weight(font-weight-light);
	letter-spacing: 0.2rem;
	font-size: font-size(font-size-small);
}

i {
	font-size: font-size(font-size-medium);
}