// *-*-*-*-*-*-*-*-*-*- The 1300px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-desktop {
	@media screen and (min-width: break-point(break-point-desktop)) {
		@content;
	}
}

// *-*-*-*-*-*-*-*-*-*- The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-tablet {
	@media screen and (max-width: break-point(break-point-tablet)) {
		@content;
	}
}

// *-*-*-*-*-*-*-*-*-*- The 600px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-medium {
	@media screen and (max-width: break-point(break-point-medium)) {
		@content;
	}
}

// *-*-*-*-*-*-*-*-*-*- The 400px Mark Break Point *-*-*-*-*-*-*-*-*-*-*-*-*
@mixin media-small {
	@media screen and (max-width: break-point(break-point-small)) {
		@content;
	}
}

// *-*-*-*-*-*-*-*-*-*-------------------------------------------*-*-*-*-*-*-*-*-*-*-*-*-*


// Al seleccionar un texto. 
::selection {
	background-color: var(--color-primary);
	color: var(--color-quinary);
}

@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";
@import "6.motto";
@import "7.features";
@import "8.trainers";
@import "9.testimonials";
@import "10.clients";
@import "11.register";
@import "12.footer";

// *-*-*-*-*-**-*-*-*-*-*-* placeholder Styles *-*-*-*-*-*-**-*-*-*-*-*-*
// Background Properties 
%bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// Background Properties
%sec-padding {
	padding: 6vh 4vw;
}

// Styles for Section heading (h2)
%sec-heading {
	font-size: font-size(font-size-medium);
	font-weight: font-weight(font-weight-light);
	letter-spacing: 0.2rem;
	color: var(--color-quinary);
}

// Styles for Section heading (h2)
%sec-para {
	font-size: font-size(font-size-small);
	color: var(--color-quinary);
	font-family: "Belsamiq Sans", cursive;
	letter-spacing: 0.2rem;
}

// Style for Section h3
%sec-h3 {
	font-size: font-size(font-size-small);
	color: var(--color-quinary);
}

// Style for Section h4
%sec-h4 {
	color: var(--color-quinary);
}

// *-*-*-*-*-* Dark Mode Smooth Transition For ALL HTML Elements *-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
	transition: all 0.5s !important; 	// !important tiene la mas alta especificidad
	transition-delay: 0 !important ; 	// en todo el mundo de CSS. 
}

